# First, ignore everything
*
# Now, whitelist anything that's a directory
!*/
# And all the file types you're interested in.
# don't ignore gitignore, hah
!.gitignore
# data ver ctrl
!*.dvc
# programs
!*.py
!*.coco
!*.r
*/.ipynb_checkpoints
!*.sh
!*.cmd
# doc src
!*.md
# assuming (small) config type yamls
!*.yaml
!*.yml
!*.smalljson
# graphql schema
!*.graphql
# track template 'types'
!*.template.*

# don't store your secrets
secrets.*
secret.*
# ignore environments
/envs
# ignore generated dev env
environment.yml
# ignore (generated) snapshots b/c they're getting big
**/snapshots
