# First, ignore everything
*
# Now, whitelist anything that's a directory
!*/
# And all the file types you're interested in.
# data ver ctrol
!*.dvc
# programs
!*.py
!*.r
!*.sh
!*.cmd
# doc src
!*.md
# assuming (small) config type yamls
!*.yaml
!*.yml
!*.smalljson
# don't store your secrets
secrets.*
secret.*

work/envs